/*
  TODO: Footer should probably be a sticky footer
  -> Reference: https://css-tricks.com/snippets/css/sticky-footer/
 */

.footer
{
  z-index: 99;
  position: relative;
  width: 99%;
  height: 55px;

  padding: 10px;
  background-color: cornflowerblue;
}

.footer > a
{
  color: aliceblue;
  font-size: 15px;
}