.cart-item-frame
{
  position: relative;
  margin-bottom: 10px;
  padding: 10px;

  height: 185px;

  box-sizing: border-box;
  border: 1px darkgrey solid;
  border-radius: 4px;

  z-index: 1;
  background: white;
}

.name
{
  color: black;
  font-size: 30px;
  text-decoration: none;

  padding: 5px;

  position: relative;
  left: 140px;
}

.name:visited
{
  color: black;
}

.cart-info
{
  position: absolute;
  min-width: 33%;
  padding: 5px;
  font-size: 18px;
  right: 0;
  text-align: right;
  margin-right: 25px;
  bottom: 5px;
}

.cart-info > input
{
  padding: 4px;
  width: 33%;
  border: 1px solid gray;
  border-radius: 2px;
  text-align: right;
}

.cart-info > button
{
  border: 1px solid gray;
  border-radius: 2px;
  padding: 4px;
  background-image: linear-gradient(#F5DA81, #DBA901);
}

.cart-info > button:hover
{
  background-image: linear-gradient(#DBA901, #F5DA81);
  cursor: pointer;
}

.image
{
  position: absolute;
  left: 5px;
  width: 125px;
  height: 125px;
}

.image > img
{
  padding: 0;
  position: absolute;
  left: 5px;
  width: 125px;
  height: 125px;

  border: 1px solid black;
}

.price
{
  font-size: 28px;
  position: absolute;
  bottom: -25px;
  left: 10px;
  color: green;
}

.description
{
  font-size: 18px;
  position: absolute;
  left: 150px;
  margin-right: 25px;
  text-align: justify;

  padding: 5px;
}