#main-image
{
    position: static;
    min-height: 250px;
    width: 250px;
    height: 250px;
    transition: all 0.1s ease-in-out;
}

#main-image:hover
{
    transform: scale(1.25);
    box-shadow: 10px 10px 50px black;
    border-radius: 14px;
}

.image-button
{
    position: static;
    border-radius: 14px;
    border: none;
    width: calc(250px / 4);
    height: calc(250px / 4);
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    outline: none;
}

.image-button:hover{
    box-shadow: inset 0 0 0 3px #DBA901;
    transform: skew(-4deg);
}