#main-image
{
    position: relative;
    min-height: 250px;
    width: 250px;
    height: 250px;
}

.image-button
{
    position: relative;
    width: calc(250px / 4);
    height: calc(250px / 4);
    padding: 0;
}

.image-button > img
{
    width: calc(250px / 4);
    height: calc(250px / 4);
}