body{
    font-family: sans-serif;
    text-align: left;
}

/*.form-label, .form-input-text{
    display: block;
    font-size: 14px;
    margin-left: 10%;
}*/

h5
{
    margin-left: 10%;
    font-size: 20px;
}

p
{
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
}

hr
{
    margin-top: 30px;
}

#account-info
{
    width: 50%;
    height: 700px;
    border: 1px solid darkgrey;
    border-radius: 2px;
    border-right: none;
    float: left;

    box-sizing: border-box;
}

#account-history{
    width: 50%;
    border: 1px solid darkgrey;
    border-radius: 0 4px 4px 0;
    float: right;

    height: 700px;
    overflow: scroll;
    overflow-x: hidden;

    box-sizing: border-box;
}

order-frame
{
    margin-bottom: 1px;
}

#recent-purchase
{
    padding: 25px;
    text-align: center;
    margin: 10px 0 20px 0;
    border: 1px solid darkgrey;
    border-radius: 4px;
    height: 30px;
}