body{
    font-family: sans-serif;
    text-align: left;
}

#content{
    width: 80%;
    min-width: 700px;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 4px;
}


button{
    background-image: linear-gradient(#F5DA81, #DBA901);
    border: 1px solid gray;
    border-radius: 2px;
    display: block;
    width: 100px;
    height: 30px;
    margin-left: 85%;
    font-size: 14px;
}
