#content
{
    margin-left: 35%;
    width: 30%;
    border: 1px black solid;
    border-radius: 4px;
}

#change-password-form > label, #change-password-form > input{
    margin-left: 10%;
    display: block;
    width: 80%;
}

#change-password-form > label{
    font-size: 14px;
}

#change-password-form > input{
    border: 1px solid gray;
    border-radius: 2px;
}

#content p{
    text-align: center;
    font-weight: bold;
    margin-left: 10%;
}


#change-password-form > input[type=submit]{
    font-weight: 500;
    width: 80%;
    background-image: linear-gradient(#F5DA81, #DBA901);
    border-radius: 2px;
}

#change-password-form > input[type=submit]:active
{
    background-image: linear-gradient(#DBA901, #F5DA81);
}