#content{
    margin: 0 auto;
    width: 50%;
    min-width: 650px;
    border: 1px solid gray;
    border-radius: 4px;
    font-family: sans-serif;
}

label, input{
    margin-left: 10%;
    display: block;
}

label{
    font-size: 14px;
}

input{
    border: 1px solid gray;
    border-radius: 2px;
    width: 50%;
}

p{
    font-weight: bold;
    margin-left: 10%;
}


input[type=submit]{
    font-weight: 500;
    width: 50%;
    background-image: linear-gradient(#F5DA81, #DBA901);
    border-radius: 2px;
}

input[type=submit]:hover
{
    background-image: linear-gradient(#DBA901, #F5DA81);
}