#item-data, #item-manufacturer, #item-details, #item-category{
    border: 1px solid gray;
    border-radius: 4px;
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}

#manufacturer{
    margin-left: 10%;
}

/*label{
    display: block;
    margin-left: 10%;
    font-size: 14px;
}*/

/* Benutz Klassen in shared.css, ist besser so */
/*input, textarea{
    border: 1px solid gray;
    border-radius: 2px;
    margin-left: 10%;
    width: 75%;
    height: 40px;
}*/

p{
    font-weight: bold;
    margin-left: 10%;
}

.toggle-button, #add-manufacturer-confirm {
    background-image: linear-gradient(#F5DA81, #DBA901);
    border: 1px solid gray;
    border-radius: 2px;
    margin-left: 10%;
}

.toggle-button
{
    margin-bottom: 25px;
}

dynamic-table
{
    width: 80%;
    min-width: 400px;
    font-family: sans-serif;
    margin: 0 auto;
    display: block;
}