body{
    font-family: sans-serif;
}

#content{
    border: 1px solid gray;
    border-radius: 2px;
}

p{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 16px;
}

h1, h5{
    margin-left: 10%;
}