body{
    font-family: sans-serif;
}

#content{
    border: 1px solid gray;
    border-radius: 2px;
    width: 60%;
    min-width: 700px;
    margin: 0 auto;
}

p{
    margin-left: 10%;
    font-size: 16px;
}

h1, h5{
    margin-left: 10%;
}