.header
{
  z-index: 100;
  position: sticky;
  top: 0;
  height: 55px;
  width: 100%;

  box-sizing: border-box;

  padding: 10px;
  background-color: cornflowerblue;
}

#nav-logo
{
  position: absolute;
  width: 150px;
  top: 50%;
  transform: translateY(-40%);
}

#nav-search
{
  position: absolute;
  width: calc(100% - /* (image size offset + 50 offset for the internal padding) times 2 */ 450px);
  min-width: 400px;
  left: 200px;
  top: 50%;
}

#nav-select
{
  position: absolute;
  width: 130px;
  height: 30px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#nav-login
{
  position: absolute;
  width: 200px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#nav-search>.search_bar
{
  position: absolute;
  width: calc(100% - 40px);
  transform: translateY(-50%);

  padding: 8px;

  border-width: 1px;
  border-style: solid;
  border-color: gray;
}

#nav-search>.search_button
{
  position: absolute;
  width: 40px;
  left: calc(100% - 23px);
  transform: translateY(-50%);

  padding: 8px;

  border-width: 1px;
  border-style: solid;
  border-color: gray;
}