.header
{
  z-index: 100;
  position: sticky;
  top: 0;
  height: 55px;
  width: 100%;
  transform: translateY(0.1%);

  box-sizing: border-box;
  background-image: linear-gradient(#3d3d3d,#4b4b4b);
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
}

#nav-logo
{
  position: absolute;
  width: 100px;
  top: 50%;
  transform: translateY(-45%);
  padding-left: 15px;
  transition: all 0.1s ease-in-out;
}

#nav-logo:hover
{
  transform: scale(1.1) translateY(-35%);
}

#nav-search
{
  position: absolute;
  width: calc(100% - /* (image size offset + 50 offset for the internal padding) times 2 */ 450px);
  min-width: 200px;
  left: 150px;
  top: 50%;
}

#nav-login
{
  font-size: small;
  position: absolute;
  width: 100px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-family: sans-serif;
}

#nav-search>.search_bar
{
  position: absolute;
  width: calc(100% - 40px);
  height: 30px;
  transform: translateY(-50%);
  padding-left: 10px;

  border: 1px solid darkgrey;
  border-left: none;
  border-radius: 4px 0 0 4px;
}

#nav-search>.search_button
{
  position: absolute;
  width: 42px;
  height: 34px;
  left: calc(100% - 29px);
  transform: translateY(-50%);

  background-image: linear-gradient(#F5DA81, #DBA901);

  border: 1px solid darkgrey;
  border-radius: 0 4px 4px 0;
}

#nav-search>.search_button:hover
{
  background-image: linear-gradient(#DBA901, #F5DA81);
  cursor: pointer;
}

#search-button-image
{
  width: 15px;
  height: 15px;
  transform: translateY(10%);
  transition: all 0.1s ease-in-out;
}

#nav-search>.search_button:hover #search-button-image
{
  transform: scale(1.1) translateY(15%);
}

.header ul
{
  list-style-type: none;
  margin: 0;
  padding-right: 15px;
  overflow: visible;
  float: right;
  display: block;
}

.header li
{
  float: left;
  position: relative;
  padding: 15px;
}

.header li:hover
{
  background-image: linear-gradient(#4b4b4b,#3d3d3d);
}

.header li:hover > .nav-link:before
{
  visibility: visible;
  width: 100%;
}

/* Animated Nav Links */
.nav-link
{
  position: relative;
  text-decoration: none;
  color: white;
  font-family: "Trebuchet MS", serif;
}

.nav-link:before
{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
}

.nav-link img
{
  width: 30px;
  height: 30px;
}

.dropdown:hover .dropdown-content
{
  display: block;
}

.dropdown-content
{
  display: none;
  position: absolute;
  right: -15px;
  top: 54px;

  background-color: #4b4b4b;
  width: 200px;
  padding: 15px;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.25);
  border-radius: 0 0 4px 4px;
  z-index: 1;
}

.dropdown-content a
{
  text-decoration: none;
  color: #bdc3c7;
}

.dropdown-content a:hover
{
  color: white;
}

.dropdown-content hr
{
  border-color: #bdc3c7;
}
