body{
    font-family: sans-serif;
}

p{
    text-align: center;
    font-size: larger;
}

#main-container{
    border: 1px solid gray;
    width: 100%;
}

#item-list{
    font-weight: normal;
    text-align: center;
}