
#content{
    border: 1px solid gray;
    border-radius: 4px;
    height: 800px;
}

#item-data {
    width: 70%;
    float: left;
}
#item-images{
}

#item-details{
    width:  70%;

}

#buy-item{
    margin-right: 10%;
    width: 18%;
    height: 100px;
    float: right;
}

.vendor-info{
}
