html, body{
    margin: 0;
}

p
{
    font-family: "Times New Roman", sans-serif;
    margin-left: 0;
}

#content{
    border: 1px solid gray;
    border-radius: 4px;
    padding-bottom: 25px;
    /* Setz auf keinen fall height von content, das verwirrt den footer */
}

#item-data {
    float: left;
    margin-left: 25px;
    margin-top: 25px;
    width: 65%;
}

#add-to-cart {
    background-image: linear-gradient(#F5DA81, #DBA901);
    border: 1px solid gray;
    border-radius: 2px;
    width: 92px;
    height: 30px;
    font-weight: bold;
    display: block;
}

#item-details{
    width:  calc(100% - 50px);
    margin-left: 25px;
    margin-bottom: 0;
}

#buy-item{
    float: right;
    font-size: 14px;
    width: calc(25% - 50px);
    padding: 25px;
    border: 1px solid black;
    border-radius: 0 0 0 4px;
    border-right: none;
    border-top: none;
}

#smol
{
    margin-bottom: 0;
    margin-top: 10px;
    text-align: justify;
}

#buy-item > hr
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#buy-item > label
{
    display: inline;
    width: 75px;
    margin-left: 0;
    font-weight: bold;
    font-size: 16px;
}

#buy-item > input
{
    display: inline;
    margin-bottom: 5px;
    width: calc(100% - 75px);
}

#total-cart
{
    font-size: 16px;
    margin: 0;
}

#buy-item > button
{
    width: 100%;
}

.vendor-info{
    margin-left: 10%;
}

#item-name{
    font-weight: bold;
}

#item-price{
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: darkred;
}

dynamic-table table
{
    width: 100%;
    margin-left: 0;
}

dynamic-table th
{
    padding-top: 2px;
    padding-bottom: 2px;
}

dynamic-table td, dynamic-table th
{
    border: 1px solid gray;
    padding: 2px;
}