html, body{
    margin: 0;
}

p
{
    font-family: "Times New Roman", sans-serif;
    margin-left: 0;
}

#content{
    border: 1px solid gray;
    border-radius: 4px;
    padding-bottom: 75px;
    /* Setz auf keinen fall height von content, das verwirrt den footer */
}

#item-data {
    margin-left: 10%;
    width: 65%;
    float: left;
    padding-top: 20px;
}

#add-to-cart {
    background-image: linear-gradient(#F5DA81, #DBA901);
    border: 1px solid gray;
    border-radius: 2px;
    width: 92px;
    height: 30px;
    font-weight: bold;
    display: block;
}

#item-details{
    width:  80%;
    margin-left: 10%;
}

#buy-item{
    font-size: 14px;
    width: 21%;
    padding-right: 4px;
    padding-top: 20px;
    float: right;
    height: 80px;
}

.vendor-info{
    margin-left: 10%;
}

#item-name{
    font-weight: bold;
}

#item-price{
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    color: darkred;
}