#content{
    border: 1px solid gray;
    border-radius: 2px;
    width: 30%;
    min-width: 500px;
    margin-left: 35%;
    margin-top: calc(75px + 55px);
    margin-bottom: 75px;
}

body {
    text-align: left;
    font-family: sans-serif;
}

.form-input-text{
    font-size: 14px;
    margin-left: 10%;
    display: block;
    height: auto;
    font-weight: normal;
    width: 80%;
    border: 1px solid gray;
    border-radius: 2px;
}

.form-submit
{
    font-weight: 500;
    width: 80%;
    background-image: linear-gradient(#F5DA81, #DBA901);
    border: 1px solid gray;
    border-radius: 2px;
    margin-left: 10%;
}

.form-submit:hover
{
    cursor: pointer;
}

.form-submit:active
{
    background-image: linear-gradient(#DBA901, #F5DA81);
}

#login-disclaimer, #register-disclaimer{
    margin-left: 10%;
    font-weight: bold;
}

#login-register, #register-login{
    margin-left: 10%;
    font-size: 14px;
}