body{
    font-family: sans-serif;
}

p{
    font-weight: bold;
}

#itemmgmt{
    border: 1px solid gray;
    width: 55%;
    float:right;
    display: block;

}
#data{
    float: left;
    width: 22%;
    display: block;
}

#vendor-image{
    float: left;
    border: 1px solid gray;
    border-radius: 4px;
    display: block;
}

#content
{
    width: 80%;
    min-width: 550px;
    height: 650px;
    border: 1px solid gray;
    border-radius: 2px;
}
