/*
  GENERIC PAGE LAYOUT REFERENCE:

    <main-container>
      <header></header>
      <content>
        ...
      </content>
      <footer></footer>
    </main-container>
 */

html, body
{
  margin: 0;
  font-size: 20px;
  height: 100%;
  overflow-x: hidden;
}

.item-list-container
{
  padding: 10px;
  margin: 10px;
  background: aliceblue;
}

#main-container
{
  position: relative;
}

#side-bar
{
  /* Max mach das mal  s c h ö n  */
  width: 1px;
  height: 1px;
  position: fixed;
  top: 100px;
  bottom: 100px;
  left: 0;
  background-color: cornflowerblue;
}

#content
{
  position: relative;
}

#content
{}