/*
  GENERIC PAGE LAYOUT REFERENCE:

    <main-container>
      <header></header>
      <content>
        ...
      </content>
      <footer></footer>
    </main-container>
 */

html, body
{
  margin: 0;
  font-size: 20px;
  height: 100%;
  overflow-x: hidden;
}

.item-list-container
{
  padding: 10px;
  margin: 10px;
  background: aliceblue;
}

#main-container
{
  position: relative;
}

#side-bar
{
  /* Max mach das mal  s c h ö n  */
  width: 1px;
  height: 1px;
  position: fixed;
  top: 100px;
  bottom: 100px;
  left: 0;
  background-color: cornflowerblue;
}

#content
{
  /*position: relative;*/
}

.dropdown:hover .dropdown-content
{
  display: block;
}

.dropdown-content
{
  display: none;
  position: absolute;
  right: -15px;
  top: 55px;

  background-color: #f9f9f9;
  width: 200px;
  padding: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a
{
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover
{
  color: #666666;
}

.form-input-text, .form-input-text-large, .form-select
{
  border: 1px solid gray;
  border-radius: 4px;
  margin-left: 10%;
  margin-bottom: 25px;
  width: 80%;
  height: auto;
  display: block;

  font-family: Arial, serif;
  font-size: 14px;
}

.form-input-text-large
{
  resize: vertical;
  min-height: 25px;
  max-height: 1000px;
}

label
{
  font-family: Arial, serif;
  font-size: 14px;

  display: block;
  margin-left: 10%;
}

p
{
  margin-left: 10%;
}

dynamic-table table
{
  position: relative;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
}

dynamic-table td, dynamic-table th
{
  border: 1px solid black;
  padding: 8px;
}

dynamic-table tr:nth-child(even){background-color: #f2f2f2;}

dynamic-table tr:hover {background-color: #ddd;}

dynamic-table th
{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f1c40f;
  color: #2c3e50;
}

dynamic-table input
{
  height: 35px;
  width: 100%;
}

dynamic-table button
{
  background-image: linear-gradient(#F5DA81, #DBA901);
  border: 1px solid gray;
  border-radius: 2px;
}