/*
  GENERIC PAGE LAYOUT REFERENCE:

    <main-container>
      <header></header>
      <content>
        ...
      </content>
      <footer></footer>
    </main-container>
 */

html, body
{
  margin: 0;
  font-size: 20px;
  overflow-x: hidden;
  font-family: sans-serif;
}

.item-list-container
{
  padding: 10px;
  margin: 10px;
  background: aliceblue;
}

#main-container
{
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  margin: -1px;
}

#side-bar
{
  /* Max mach das mal  s c h ö n  */
  width: 1px;
  height: 1px;
  position: fixed;
  top: 100px;
  bottom: 100px;
  left: 0;
  background-color: cornflowerblue;
}

#content
{
  margin-top: calc(75px + 55px);
  margin-bottom: 75px;
  min-width: 550px;
  margin-left: 10%;
  width: 80%;
  display: inline-block;
}

#ep-error
{
  width: 80%;
  border: 1px solid darkgrey;
  border-radius: 2px;
  text-align: center;
  margin-left: 10%;
  padding: 10px;
}

#error-number, #whats-this
{
  margin: 0;
  padding: 5px;
}

#error-message
{
  margin: 0;
}

#error-number
{
  font-weight: bold;
  font-size: 25px;
}

#representation
{
  width: 60%;
  border: 2px solid darkgrey;
}

.toggle-button, #secret
{
  background-image: linear-gradient(#F5DA81, #DBA901);
  border: 1px solid gray;
  border-radius: 2px;
  display: block;
  margin-left: 10%;
}

#secret
{
  width: 80%;
  margin-left: 10%;
  padding: 5px;
}

.toggle-button:active, #secret:active
{
  background-image: linear-gradient(#DBA901, #F5DA81);
}

.form-input-text, .form-input-text-large, .form-select
{
  border: 1px solid gray;
  border-radius: 4px;
  margin-left: 10%;
  margin-bottom: 10px;
  width: 80%;
  height: auto;
  display: block;

  font-family: Arial, serif;
  font-size: 14px;
}

.form-input-text-large
{
  resize: vertical;
  min-height: 25px;
  max-height: 1000px;
}

#greetings
{
  margin-left: 0;
  padding: 25px;
  width: calc(100% - 50px);
  border: 1px solid darkgrey;
  text-align: center;
  margin-top: 0;
}

#l-shop-description:hover #description-help
{
  display: inline-block;
}

label
{
  font-family: Arial, serif;
  font-size: 14px;

  display: block;
  margin-left: 10%;
}

p
{
  margin-left: 10%;
}

dynamic-table table
{
  position: relative;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border-collapse: collapse;
  margin-left: 10%;

}

dynamic-table td, dynamic-table th
{
  border: 1px solid gray;
  padding: 8px;
}

dynamic-table tr:nth-child(even){ background-color: #f2f2f2;}

dynamic-table tr:hover { background-color: #ddd;}

dynamic-table th
{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-image: linear-gradient(#F5DA81, #DBA901);
  color: #2c3e50;
}

dynamic-table input
{
  height: 35px;
  width: 100%;
}

dynamic-table button
{
  background-image: linear-gradient(#F5DA81, #DBA901);
  border: 1px solid gray;
  border-radius: 2px;
}

dynamic-table button:active
{
  background-image: linear-gradient(#DBA901, #F5DA81);
}